<%= render 'common/header' %>


</head>
<body>
<%= render 'common/navbar' %>


<!-- Page Content -->
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <!-- Title -->
      <div class="well well-sm">
        <strong>Artigos mais vendidos</strong>
        <div class="btn-group">
          <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>Lista</a>
          <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grelha</a>
        </div>
      </div>

      <div id="artigos-container" class="row list-group"></div>

      <div class="well well-sm">
        <strong>Categorias</strong>
        <div class="btn-group">
          <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>Lista</a>
          <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grelha</a>
        </div>
      </div>

      <div id="categorias-container" class="row list-group"></div>

      <div class="well well-sm">
        <strong>Autores mais populares</strong>
        <div class="btn-group">
          <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>Lista</a>
          <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grelha</a>
        </div>
      </div>


      <div id="topautores-container" class="row list-group"></div>
      <hr>

    </div><!-- col main -->
  </div> <!-- row -->
</div>
<!-- /.container -->

<%= render 'common/footer' %>
<%= javascript_include_tag "home" %>