<div class="jumbotron">
  <h1>Sinf Store</h1>
  <div class = "background_image"></div>
  <p>Welcome to SINF Store!</p>
  <%= link_to "Products", "#", class: "btn btn-primary" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>


