<!DOCTYPE html>
<html>
<head>
  <title> SINF </title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


  <!-- COVERFLOW -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Poe header a preto -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <style type="text/css">
    .carousel{background: #fff; margin-top: 20px;}
    .carousel .item img{margin: 0 auto; /* Align slide image horizontally center */}
    .bs-example{
      margin: 20px;
      width:50%;
      height:5%;
      max-height: 200px !important;
      margin:auto;
    }
    .glyphicon{color: #000;}
    .carousel-control.left, .carousel-control.right{
      background: none !important;
      filter: progid:none !important;>
    }
  </style>
  <!-- END OF COVERFLOW -->

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'external/star-rating', media: 'all' %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>

  <!--<link rel="shortcut icon" href="">-->